.main{
    padding-top: 200px;
    margin-top: 0px;
}
@media screen and (max-width: 640px) {
    .main{
        margin-top: 400px;
    }
}

.darktheme{
    background-color: #121212;
    color: white;
}
.lighttheme{
    background-color: white;
    color: black;
}