.navbar{
    background-color: rgb(8, 241, 164);
    color: white;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 14pt;
    align-items: right;
    justify-items: right;
    height: 30px;
}
.signinLabel{
    margin-left: 30px;
    margin-right: 10px;
}
.logininput{
    margin-right: 30px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
}
.login {
    position: absolute;
    right: 100px;
    top: 15px;
}
.loginbutton {
    background-color: white;
    border-radius: 20px;
    padding: 8px 15px 8px 15px;
    border: 2px solid transparent;
    color: rgb(8, 241, 164);
    font-weight: bold;

}
.loginbutton:hover{
    background-color: rgb(60, 241, 181);
    color: white;
    cursor: pointer;

}