.player {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 25px;
}
.exitgamebutton {
    background-color: yellow;
    color: black;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
    font-weight: bold;
    position: absolute;
    right: 300px;
    top: 0px;
}