.profiletopic{
    margin-left: 25%;
    width: 500px;
    font-size: 14pt;
    font-weight: 400;
    display: inline-block;
}
.profiledata{
    margin-left: 5%;
    font-size: 14pt;
    font-weight: 900;
}
.profileinput{
    padding: 10px 10px 10px 10px;
    font-size: 14pt;
    border-radius: 10px;
    outline: none;
}

@media screen and (max-width: 960px) {
    .profileinput{
        margin-left: 25%;
    }
}